.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 32px;
}

.myP {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.myButton {
  background: blue;
  border: 0px;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
}
